h2 Scripts
p Here are some of the scripts we have created.
  | Currently my scripts are all on TurtleScripts.com.  To be able to download my scripts first run this on the turtle.
  br
  font(color='red') pastebin get w1RtfqFd market
h3 MPM Program
p
  font(color='red') market get gjdh4c mpm y
  br
  | As long as you ran the pastbin command above this command will install the script on the turtle.
  br
  | This program mines an X x Y x Z area and returns items to a chest that is located behind its starting position.
h3 Rednet Mining
p
  font(color='red') market get gjdh5c rednetMining y
  br
  | This does the same as the MPM program except that this one can speak back to a server and report its status.(still a work in progress, but it works)
  br
  | There is some modification needed:
  br
  | --Modify the Computer ID to that of the computer you want to broadcast to
h3 Fueling
p
 font(color='red')
  | market get gjdh5q clientFuel y
  br
  | market get gjdh5p serverFuel y
 br
 | Have a fueling station for your turtles? Ever wonder how much fuel they all have?
 br
 | Well with these two scripts you can monitor them remotely.
 br
 | Run the client program on the turtle and the server program on the computer.
 br
 br
 | There is some modifications needed:
 br
 br
 | In Client Fuel
 br
 | --Modify the ID to that of the computer you want to broadcast to
 br
 br
 | In the Server program
 br
 | --Modify the IDs to that of the turtles you want to receive from
