!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Creeper Factory
    //link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block body
